.inner-container {
    margin: auto; 
    padding-left: 90px; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.count-total-container {
    padding: 10px 40px; 
    border: solid; 
    border-radius: 10px; 
    font-size: 25px;
}

.reset-btn {
    margin-right: 30px; 
    width: 60px; 
    height: 60px;
}